Q1. How do you comment code in Python? What are the different types of comments?

In [25]:
# There are three types of comment we can use. Each have a different usecase

1. # comments
2.
'''
This is a multi-line
comment that spans several
lines.
'''

'\nThis is a multi-line\ncomment that spans several\nlines.\n'

In [26]:
#3.
def add(x, y):

      """
      this is a socstring
      basically it wll be used to explain  a function
      """
      return x+y

result = add(3,2)
print(result)

5

Q2. What are variables in Python? How do you declare and assign values to variables?

In [27]:
# In python variables are something in which we can store the data. it can be in different form and manner like
x = 5
c=v=n = 3
c,v,n = 3,4,"bfbsdbk"

# a variable name should start with a letter or underscore it can't start with a number or special charecter.

Q3. How do you convert one data type to another in Python?

In python we can use the built in functions to covert a data type in another form.
like int(), float(),list(),tuple(),bool(),dict()
exe -

x = int(3.5) it'll be 3
x = int("10") it'll be 10

sometimes we can forfully covert a dat type into another type and store in the another variable name -
let's say we have a tuple we can covert it into list
exe -

tup = ("fne",1,2,3,4,5,true,1.56)

leest = list(tup)

In [28]:
tup = ("fne",1,2,3,4,5,True,1.56)

leest = list(tup)

leest

['fne', 1, 2, 3, 4, 5, True, 1.56]

Q4. How do you write and execute a Python script from the command line?

1. python should be installed
2. in any text editor write any code and save it with suffics .py
3. go to the command prompt - 1. get the location of the file saved -> write python nameofthesavedfile.py
4. it'll get executed


EXE. let say I saved a file in text doc. in this i've written the code print("hello_python) and saved it as new.py

then used the - C:\Users\asus>cd Desktop

C:\Users\asus\Desktop>python new.py
hello python

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [29]:
my_list  = [1, 2, 3, 4, 5]

my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

# A complex number is something thing that expressed in the terms of a+bi in which a & b is the real part and i is the imaginary part.
# i is the root of -1, so i**2 becomes the -1 which is imaginary.

x= a+ib

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [30]:
age = 25
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [31]:
price = 9.99
price

# is it the float data type

9.99

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [32]:
name = "Mehul Singh Rao"
name

'Mehul Singh Rao'

Q10. Given the string "Hello, World!", extract the substring "World".

In [33]:
Q =  "Hello, World!"
Q[7:14]

'World!'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [34]:
is_student = True
not_student = False
is_student or not_student

True

In [ ]:
input("are you a student yes or no : ")
if input.lower() == 'yes':
  is_student = True
else:
  is_student = Flase
  print('is_student',)