Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
#(i)
A = "Mehul Singh Rao"
A

In [ ]:
#(ii)
B = [1,2,3,4,5,"nksnd",-1.756,1.9595959595, 3.146, True]
B

In [ ]:
#(iii)
C = 1.23456
C

In [ ]:
#(iv)
D = (1,2,3,4,5,"nksnd",-1.756,1.9595959595, 3.146, True)
D

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [ ]:
var1 = ' '
type(var1)

In [ ]:
var2 = '[ DS , ML , Python]'
type(var2)

In [ ]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

In [ ]:
var4 = 1
type(var4)

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
# / used for dividing
8/4

In [ ]:
# % is used to take out modulus
5%4

In [ ]:
# // is used for the floor division, largest integer value less than or equal to the exact division result.
10.5//3.2

In [ ]:
# ** is used for the raising the power of an int.
3**3

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [33]:
q = [1,2,3,4,5,6, "mehul",True,1.56,-1.7567]

for i in q :
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
mehul <class 'str'>
True <class 'bool'>
1.56 <class 'float'>
-1.7567 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
M = 12
N = 2
count = 0
while M % N == 0 :
    M = M//N
    count += 1
print("M is divisable by N", count, "times")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [22]:
v = []
for i in range(1,26):
    v.append(i)

for i in v:
    if  i % 3 == 0 :
        print(i, 'number is divisable by three')
    else :
        print(i, 'number is not divisable by three')

1 number is not divisable by three
2 number is not divisable by three
3 number is divisable by three
4 number is not divisable by three
5 number is not divisable by three
6 number is divisable by three
7 number is not divisable by three
8 number is not divisable by three
9 number is divisable by three
10 number is not divisable by three
11 number is not divisable by three
12 number is divisable by three
13 number is not divisable by three
14 number is not divisable by three
15 number is divisable by three
16 number is not divisable by three
17 number is not divisable by three
18 number is divisable by three
19 number is not divisable by three
20 number is not divisable by three
21 number is divisable by three
22 number is not divisable by three
23 number is not divisable by three
24 number is divisable by three
25 number is not divisable by three

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

1. mutable data types are those which you can modify or delete


2. Immutable are those which you can't change or modify or delete

In [25]:
#example 1. a string, tuple
g = "fsd"
g[1] = 'a'

TypeError: 'str' object does not support item assignment

In [31]:
f = ["mehul", 1,2,3,4]
f[0] = 'rahul'
f

['rahul', 1, 2, 3, 4]