Q1. What is a database? Differentiate between SQL and NoSQL databases.

A Database is basically a structured collection of tables and tables are the structured collection of data.

SQL is basically a structured query language wherease NoSQL is basically not only SQL means it can not only applied to strucutred data but also unstructured like imaage, pdf or text file.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is basically Data defination language. CREATE, DROP, ALTER, and TRUNCATE are the main commands of it.

In [ ]:
CREATE command is used to create any new database or table, index and views
Exe -

create database if not exists storage;
create table if not exists storage.milk(ID TINYINT, amount FLOAT, WEIGHT FLOAT, QUALITY VARCHAR, DELOVERY DATE);

drop table if exists storage.cows;

# Alter command is basically used to perform all kinds of operations to the columns of a table like add, drop,  modify etc.
alter table milk
add delivery TIME, modify amount int, drop QUALITY;

# truncate is basically used to remove data from all the tables and keeping table structure same(column,rows).
truncate table milk

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
# DML - Data manupulation language basically to manupulate the data inside the table.
# INSERT - is basically used to add new rows to the table.
#exe -
insert into table_name (col1, col2, col3, col4)
values (12, "fnwkd", "@ff", "fdew");

#UPDATE - is used to update the data inside the table according the row number by using SET afterwards to set the changed value for a perticular cell.Or we can set it to null.

update table_name
set name = "rahul"
where student_id = 101;

# DELETE - this statement is used to delete rows froa table.

delete table_name
where ID = 101;

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
#DQL - is basically a data query language and is used to retrive a data from the database.

# select is a DQL statement which is used to select the columns of a table and in this there are 2 major clauses work along which are from and where.
# from is used to taget the table from a database for which we want to retrive the data.
# where is used to target the specific place or row number or a condition.

select * from databasename.table_name
where ID = 101;

Q5. Explain Primary Key and Foreign Key.

Primary Key:

Definition: A primary key is a unique identifier for each row in a database table. It enforces data integrity by ensuring each value in the primary key column(s) is unique and non-null.
Key Points:
Uniquely identifies rows in a table.
Ensures data integrity and uniqueness.
Values must be unique and non-null.
Often used for IDs or critical identifying information.
Remains stable over time.
Each table typically has only one primary key.
Foreign Key:

Definition: A foreign key establishes a relationship between tables by referencing the primary key of another table. It ensures referential integrity, where values in the foreign key column(s) match values in the referenced primary key column(s) or are null.
Key Points:
Creates relationships between tables.
References the primary key of another table.
Maintains data consistency between related tables.
Values must match referenced primary key values or be null.
Supports data integrity and consistency.
Multiple foreign keys can exist in a table.

Example - Suppose we have a table employee, in this we have many different columns but the employee_id column is made as a primary key for this table and it'll have a unique identifier numbers for all rows.

Now let's supoose in the same table we have column whose name is deparment_ID
, now this will be considered as a foreign key for the employee table but it is connected with it. and the department_id will be the primary key for the department table.
Finally we can use these 2 keys to connect according to our requirment.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(         # mydb is the variable name used to
                                        # connect with database
  host="localhost",                     # assigning the local host name
  user="abc",
  password="password"
  database = "mydatabase"
)
print(mydb)                            # to display the ifo about database connection

mycursor = mydb.cursor()               # mycursor object is used to set the queries.and is cnnected to the mydb.

mycursor.execute("CREATE DATABASE IF NOT EXISTS TEST3") # is to execute any query here we used DDL
mydb.commit() # is used when we are making change inside the data for DML
result = mycursor.fetchall() # we'll have to use fetchall() if we are using query to retrive the data
for row in result:
   print(row)

mydb.close()  # for closing the connection

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT: This clause specifies the columns you want to retrieve from the table.

FROM: This clause specifies the table(s) from which you're retrieving the data.

WHERE: This clause filters rows based on specified conditions.

GROUP BY: This clause groups rows that have the same values in specified columns into summary rows, like "grouping" your data.

HAVING: This clause filters grouped rows based on specified conditions.

ORDER BY: This clause sorts the result set based on specified columns and sort orders.

LIMIT / OFFSET: These clauses allow you to retrieve a specific subset of rows, often used for pagination.

In [ ]:
SELECT column1, column2
FROM table_name
WHERE condition
GROUP BY column3
HAVING aggregate_condition
ORDER BY column4 ASC
LIMIT 10 OFFSET 20;