<a href="https://colab.research.google.com/github/Rocketman1996/Physics-wallah-Assignment/blob/main/pandas_basics_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [4]:
data = [ 4, 8, 15, 16, 23,42]
my_data = pd.Series(data)
my_data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
data1 = [1,2,3,4,5.54,'njksd','fh',True]
my_data1 = pd.Series(data1)
my_data1

0        1
1        2
2        3
3        4
4     5.54
5    njksd
6       fh
7     True
dtype: object

In [10]:
data2 = {'Name':["Alice","Bob","Claire"], 'Age': [25,30,27], 'Gender': ["Female", "Male", "Female"]}
my_data2 = pd.DataFrame(data2)
my_data2

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [23]:
# DataFrame is a two-dimensional, tabular data structure that represents data in rows and columns, similar to a spreadsheet or SQL table.
# It can store heterogeneous data types and is commonly used to work with structured data.
# Think of it as a collection of Series objects where each Series represents a column.

# Series is a one-dimensional array-like data structure that represents a single column or row of data.
# It's used for storing and manipulating a sequence of values of the same data type

# Creating a Series
fruits = pd.Series(["cherry",'apple', 'banana', 'cherry', 'date'])

# Creating a DataFrame
data5 = {'Fruit':['cherry','apple', 'banana', 'cherry', 'date'],
        'Quantity': [4,5, 8, 3, 10]}

df = pd.DataFrame(data5)

# Output
print("Series:")
print(fruits)
print("\nDataFrame:")
print(df)

Series:
0    cherry
1     apple
2    banana
3    cherry
4      date
dtype: object

DataFrame:
    Fruit  Quantity
0  cherry         4
1   apple         5
2  banana         8
3  cherry         3
4    date        10

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [41]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie','Rahul','David'],
    'Age': [25, 30, 22,24, 35],
    'Salary': [50000, 60000, 45000, 45000, 70000],
    'Department': ['HR', 'Engineering','Engineering', 'Marketing', 'Finance']
}
df = pd.DataFrame(data)

# Inspecting Data
print("First 2 Rows of Data:")
print(df.head(2))

print("\nLast 2 Rows of Data:")
print(df.tail(2))

print("\nData Types and Non-Null Counts:")
print(df.info())

# Summary Statistics
print("\nSummary Statistics:")
print(df.describe())

# Data Types
print("\nData Types of Columns:")
print(df.dtypes)

# Missing Values
print("\nMissing Values (True/False):")
print(df.isnull())

print("\nMissing Values Count in Each Column:")
print(df.isnull().sum())

# Filtering Data
filtered_df = df[df['Age'] > 25]
print("\nFiltered Data:")
print(filtered_df)

First 2 Rows of Data:
    Name  Age  Salary   Department
0  Alice   25   50000           HR
1    Bob   30   60000  Engineering

Last 2 Rows of Data:
    Name  Age  Salary Department
3  Rahul   24   45000  Marketing
4  David   35   70000    Finance

Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Salary      5 non-null      int64
 3   Department  5 non-null      object
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes
None

Summary Statistics:
             Age        Salary
count   5.000000      5.000000
mean   27.200000  54000.000000
std     5.263079  10839.741694
min    22.000000  45000.000000
25%    24.000000  45000.000000
50%    25.000000  50000.000000
75%    30.000000  60000.000000
max    35.000000  70000.000000

Data Types of Columns:
Name          object
Age            int64
Salary         int64
Department    object
dtype: object

Missing Values (True/False):
    Name    Age  Salary  Department
0  False  False   False       False
1  False  False   False       False
2  False  False   False       False
3  False  False   False       False
4  False  False   False       False

Missing Values Count in Each Column:
Name          0
Age           0
Salary        0
Department    0
dtype: int64

Filtered Data:
    Name  Age  Salary   Department
1    Bob   30   60000  Engineering
4  David   35   70000      Finance

In [42]:
# Grouping and Aggregating
grouped_df = df.groupby('Department').agg({'Salary':'mean'})
print("\nGrouped Data with Average Salary per Department:")
print(grouped_df)

# Sorting Data
sorted_df = df.sort_values(by='Age', ascending=False)
print("\nSorted Data by Age in Descending Order:")
print(sorted_df)

# Counting Unique Values
unique_departments = df['Department'].nunique()
print("\nCount of Unique Departments:")
print(unique_departments)

# Correlation Analysis (Numeric Columns)
correlation_matrix = df.corr()
print("\nCorrelation Matrix:")
print(correlation_matrix)

Grouped Data with Average Salary per Department:
              Salary
Department
Engineering  52500.0
Finance      70000.0
HR           50000.0
Marketing    45000.0

Sorted Data by Age in Descending Order:
      Name  Age  Salary   Department
4    David   35   70000      Finance
1      Bob   30   60000  Engineering
0    Alice   25   50000           HR
3    Rahul   24   45000    Marketing
2  Charlie   22   45000  Engineering

Count of Unique Departments:
4

Correlation Matrix:
             Age    Salary
Age     1.000000  0.990352
Salary  0.990352  1.000000

<ipython-input-42-ce2f7d330fd0>:17: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
# Series is mutable, meaning you can change the values in a Series after it's created.
# DataFrame is also mutable. You can modify its contents, add or remove rows and columns, etc.
# Panel was a data structure in older versions of Pandas but has been removed in recent versions and it's not relevant for most modern Pandas users.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [43]:
# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 22, 35])
salaries = pd.Series([50000, 60000, 45000, 70000])

# Create a DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Salary': salaries})

# Print the DataFrame
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000