Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
tuple = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
#
sorted_tuples = sorted(tuple, key =  lambda x:x[1])  #key function is used to basically give the sorted function the base on which it get sorted.
#sorted(iterable, key=None, reverse=False)

print(sorted_tuples)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
abc = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
suare = map(lambda x: x**2, abc)
## map(function, iterable, ...)

print(list(suare))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
String = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

convrt = map(lambda x: str(x), String)

print(tuple(convrt))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [10]:
from functools import reduce

j = range(1,26)

def my_pro(x,y):
  return x*y

result =  reduce(my_pro, j)
result

# or alternatively

result1 = reduce(lambda x,y : x*y, j)
result

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [15]:
u = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

result3 = filter(lambda x : x%2 == 0 or x%3 == 0, u)

print(list(result3))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [25]:
E =  ['python', 'php', 'aba', 'radar', 'level']

result4 = filter(lambda x : x == x[::-1], E)
# x[::-1] in this slicing there are three levels start, stop and step here we stepping in reverse direction to check palindromes
print(list(result4))

['php', 'aba', 'radar', 'level']